[submodule "/Users/chenjerry/Desktop/AttributedTextTestPullFromGit/CommonSubmodule"]
	path = /Users/chenjerry/Desktop/AttributedTextTestPullFromGit/CommonSubmodule
	url = https://github.com/ssddss/SubmoduleTest.git
